{% extends "base.html" %}
{% block body_block %}
<h1>Welcome to Greenfield Local Hub!</h1>

<!--TODO: Could add an image carosel show new products-->
<img src="{{ GLHtemporarylogo.jpg }}" alt="placeholder image">
<p>Integer dapibus libero ligula, a suscipit orci viverra in. Aenean congue velit urna, at iaculis urna efficitur ornare. Aliquam quis volutpat tellus, nec fringilla odio. Aliquam pharetra sagittis felis eu suscipit. Phasellus eros enim, venenatis sed ullamcorper ac, rutrum ut mi. Morbi sit amet ultricies diam. Vestibulum et libero nisi. Mauris venenatis lorem ac luctus ultrices. Sed et augue dapibus, tristique ex vitae, auctor velit. Aliquam aliquet justo quis fringilla interdum. Cras sed tellus nisl. Aenean porttitor nunc nec semper viverra. Aliquam urna dui, facilisis placerat finibus et, imperdiet vel urna. Proin eget est lectus. Aliquam ut commodo sapien, sed bibendum orci. Aliquam ac metus eget libero tempus euismod a sodales nulla.</p>
{% endblock %}