{% extends "base.html" %}
{% block body_block %}

<!--Should show only one product in more detail - with ingredients-->
    <div class="block">
        <h1>{{ product.name }}</h1>
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
        <p>{{ product.description }}</p>
        <p>Ingredients: {{ product.ingredients }}</p>
        <p>Allergens:
        {% for allergen in product.product_allergens.all %}
            <b>{{allergen}}, </b>
        <br>
        {% endfor %}</p>
        <p>Price: £{{ product.price }}</p>
        <p><a href="{% url 'individualProducerPage' product.producer.pk %}">Provided by: {{ product.producer.store_name }}</a></p>
        <a href="{% url 'addProductToUserCart' product.id %}" class="buy-now-button">Buy Now</a>
    </div>
{% endblock %}