{% extends 'base.html' %}
{% block body_block %}

<div class="block">
<h1>{{ producer.store_name }}'s Dashbord</h1>
<p>Welcome to our dashbored! Here you can view your orders, manage your stock and manage your products.</p>

<h2>Your Products</h2>
<button onclick="hideProducersProducts()">Click here to hide your products</button>
<div class="row alternativeblock"id="producer-product-box">
{% for product in producers_products %}
<div class="col-sm-6 col-md-4 col-lg-3 mb-4 block product-item">
<img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
<h3>{{ product.name }}</h3>
<p>{{ product.description }}</p>
<p>Price: £{{ product.price }}</p>
<p>Allergens:
{% for allergen in product.product_allergens.all %}
<b>{{allergen}}</b> {% if not forloop.last %},{% endif %}{% endfor %}</p>
</div>
{% endfor %}

<!-- Producer can olny see their product in customers orders-->
<h4>Active Orders</h4>
<button onclick="hideOrderItems()">Toggle active orders</button>

{% for item in producers_order_items %}
    {% if not item.order.is_completed %}
        <div class="block">
            <p>Reference number: #{{ item.order.id }}</p>
            <p>Order placed at: {{ item.order.created_at|date:"d M Y H:i" }}</p>

            {% if item.order.delivery_order %}
                <p>Order for: delivery</p>
            {% else %}
                <p>Order for: collection</p>
            {% endif %}

            <div class="row alternativeblock hide-filter-mode order-item-box">
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4 block">
                    <img src="{{ item.product.image.url }}" width="100">
                    <h5>{{ item.product.name }}</h5>
                    <p>{{ item.product.description }}</p>
                    <p>£{{ item.product.price }} × {{ item.quantity }}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}